* {
  
  text-decoration: none;
}
@font-face {
  font-family:'BeauFort';
  src: url(/font/BeaufortforLOL-Bold.ttf) format('truetype') ;
}
body{
  background-color: #081428;
}
/* navbar */
nav {
  background-color: #0814282c;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 60px;
  border-bottom: 0.3px solid #c89b3c;
  border-radius: 0px 0px 25px 25px;
  margin: 0%;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: 0px 7px 29px 1px; ;
}
.icon1 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px;
  height: 55px;
  padding: 0px 0px 0px 80px;
  transition: 0.1;
  opacity: 1;
}

.icon1:hover {
transform: scale(1.03);
filter: brightness(1.3);
}
.nav2 {
  position: fixed;
  top:0px;
  left: 180px;
  text-decoration: none;
}
.nav2 li {
  color: #c89c3c5a;
  color: linear-gradient(180deg, rgba(200,155,60,1) 0%, rgba(97,74,28,1) 100%);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin-left: 24px;
  list-style: none;
  text-decoration: none;
  text-align: center; 
  transition: 0.3s;
  
}
.nav2 li a,:visited {
color: #c89b3c;
}
.nav2 li:hover {
  color: #c89c3c;
  text-shadow: 0px 0px 5px  rgb(151, 122, 24);
  filter: brightness(1.3);
}
/* landing page */
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  .c1{
    background-image:   linear-gradient(180deg, rgba(8,20,40,0) 70%, rgba(8, 20, 40, 1) 100%),   linear-gradient(0deg, rgba(8,20,40,0) 90%, rgba(8, 20, 40, 1) 100%),url(/Img/bgnya.png);
    background-size: cover;
    background-position: center;
    display: block;
    color: #c89b3c;
    background-repeat: no-repeat;
    z-index: 1;
    
  }
.c1 h1 {
  min-width: 500px;
  font-size: clamp(32px, 4vw, 52px);
  /* height: auto; */
  font-weight: bold;
  padding-right: 70px;
  margin-bottom: 10px;
  font-family: 'Beaufort';
  color: #c89b3c;
}
.p1 {
  font-size: 24px;
  color: #f0e6d2;
}
.c1 button{
  font-weight: bold;
  position: static;
  width: 130px;
  height: 40px;
  background-color: #081428;
  border: 1px solid #c89b3c;
  color: #c89b3c;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: inset 0 0 5px #0497ab;
  font-size: 20px;
}
.c1 button:hover{
  border: 2px solid #c89b3c;
  box-shadow: inset 0 0 18px #0497ab;
  text-shadow: 0px 0px 4px #c89b3c;
}
/* sect 2 */
.c2{
  height: 140vh;
  text-align: justify;
  padding: 0px 300px;
  flex-direction: column;
  
}
.c2 .topleft {
  background-size: contain;
  position: absolute;
  top: 1080px;
  left: 0px;
  z-index: 1;
}
.c2 .botright {
  background-size: contain;
  position: absolute;
  top: 1680px;
  right: 0px;
  z-index: 1;
}
.c2 h1{
  text-align: center;
  font-family: 'Beaufort';
  z-index: 2;
  margin-top: 10px;
  margin-bottom: 10px;

  /* border: 1px solid white; */

}
.c2 p{
  z-index: 2;
}
hr{
  border: 1px solid #c89b3c;
  padding:0px;
  width: 70%;
}
/* Top meta */
.hexx{
  background-size: cover;
  position: center;
  z-index: 1;
  justify-content: center;

}
.div3 {
  align-items: center;
  position: relative;
  display: contents;
  z-index: 1;
}
.c3 h1{
position: top;
text-align: center;
font-family: 'Beaufort';
z-index: 5;
margin-top: 0;
}
.c3 h2{
  font-size: clamp(32px, 4vw, 64px);
  font-family: 'Beaufort';
  font-weight: bold;
  z-index: 5;
  text-align: center;
  
}
.c3 ul{
  font-size: clamp(8px, 4vw, 18px);
  text-align: justify;
}


section {
    height: 100vh;
    padding: 0 clamp(4rem, 12vw, 80px);
    display: grid;
    place-content: center;
    z-index: 1;


    p{
        font-size: clamp(2rem, 5vw, 24px);
    }
    h1{
      font-size: clamp(32px,6vw ,72px);
      font-family: 'Beaufort';
    }
    ul{
      font-size: clamp(18px,4vw ,32px);
      font-family: 'Beaufort';
    }
    

    &:nth-of-type(1) {
        border-bottom: 0px solid #081428;
        
    }
    &:nth-of-type(2){
        background:#081428;
    }

    &:nth-of-type(3) {
        background: #081428;
    }

    &:nth-of-type(4) {
        background: #081428;
        color: white;
    }
}
.footer{
  background-image:    linear-gradient(180deg, rgba(8,20,40,0) 70%, rgba(8, 20, 40, 1) 100%),   linear-gradient(0deg, rgba(8,20,40,0) 70%, rgba(8, 20, 40, 1) 100%),url(/Img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0%;
  
}
.divin{
  align-items: center;
  padding: 50px;
  padding-top: 220px;

}
.footer h1{
  color: #f0e6d2;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
  font-size:clamp(36px, 8vw , 96px);
  position: relative;
  text-align: center;
  padding: 80px;
  margin: 0%;

}
.footer .f1{
  font-size:clamp(4px, 4vw, 18px);
  text-align: center;
  position: relative;
  padding: 130px 80px 20px 80px;
  justify-content: center;
  font-size: 18px;
  color: #f0e6d2;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  max-width: 100%;
  z-index: 1;
}
