*{
    margin: 0;
    font-family: sans-serif;
}

.header{
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px 32px 16px 32px;
}

.list{
    font-size: 24px;
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.list a{
    text-decoration: none;
    color: white;
}

.list a:hover{
    font-weight: bolder;
}

.btn-contact{
    background-color: white;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    border-radius: 12px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.btn-contact:hover{
    scale: 1.05;
}